[submodule "CycleUni-BE"]
	path = UniBooks-BE
	url = https://github.com/CycleUni/CycleUni-BE
[submodule "CycleUni-FE"]
	path = UniBooks-FE
	url = https://github.com/CycleUni/CycleUni-FE
[submodule "CFEdgeChat"]
	path = CFEdgeChat
	url = https://github.com/CycleUni/CFEdgeChat
[submodule "ISBN Search Proxy/ISBNnet Resolver"]
	path = ISBN Search Proxy/ISBNnet Resolver
	url = https://github.com/CycleUni/ISBNnet-Resolver
